.card.front.triangle.hoa {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: Special Elite, monospace;

  .card-index {
    position: absolute;
    font-size: 20px;
    left: 20px;
    display: inline-block;
    color: black;
    z-index: 30;
  }

  .hoa-overlay.overlay {
    background-image: url("../images/Cards/triangle-frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .front-wrapper {
    z-index: 0;

    .sectors-row {
      .sector {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        .pseudo-image.sector-overlay.items {
          z-index: 10;
          transform-origin: 50% 50%;
          height: 50%;
          width: 50%;
          position: absolute;
          transform: translate(0%, 16.66%);
          filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.6));
        }

        .pseudo-image.sector-overlay.pipes {
          transform-origin: 50% 66%;
          z-index: 5;
        }


        .pseudo-image.sector-overlay.orientation-0.pipes {
          rotate: 0deg;
        }

        .pseudo-image.sector-overlay.orientation-1.pipes {
          rotate: 120deg;
        }

        .pseudo-image.sector-overlay.orientation-2.pipes {
          rotate: 240deg;
        }
      }

      // Terrains
      .sector.grass {
        background-image: url("../images/Cards/grass.png");
      }

      .sector.water {
        background-image: url("../images/Cards/water.png");
      }

      .sector.concrete {
        background-image: url("../images/Cards/concrete.png");
      }

      .sector.building {
        background-image: url("../images/Cards/building.png");
      }
    }
  }
}

.card.back.hoa.triangle {
  position: relative;

  .back-wrapper {
    background-image: url("../images/Cards/backs/hoaBackBackground.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.card.back.hoa.triangle.start {
  .back-wrapper {
    background-image: url("../images/Cards/backs/hoaBackBackgroundStart.png");
  }

  .start-text {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 100px;
    left: 0px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
  }
}