.card.front.two-option {
  border: 8px solid #000055;

  .front-wrapper {
    justify-content: space-around;

    .title {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.card.back.two-option {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}